# SET-UP
ENVIRONMENT="staging"

# REDIS
REDIS_URL="redis://redis:6379"

# DB
MYSQL_USER=""
MYSQL_PASSWORD=""
MYSQL_HOST=""
MYSQL_PORT=""
MYSQL_DATABASE=""
MYSQL_SYNC_DRIVER="mysql+pymysql"
MYSQL_ASYNC_DRIVER="mysql+aiomysql"

# AWS
AWS_MAIN_REGION=""

GEMINI_API_KEY=""
GEMINI_MODEL="gemini-2.5-flash"

# ChromaDB for RAG
CHROMA_HOST="chromadb"
CHROMA_PORT="8000"
CHROMA_COLLECTION_NAME="company-docs"