# Nginx server (added later), redis, db (added later)



services:
  nginx:
    volumes:
      - ./reverse-proxy/nginx.deploy.conf:/etc/nginx/conf.d/default.conf:ro
      - ../frontend/app/dist:/usr/share/nginx/html:ro
    depends_on:
      redis:
        condition: service_started
      backend:
        condition: service_started
  backend:
    image: javidsegura/ai_ticket_platform:staging 
    ports:
      - "8000:8000"
    env_file:
      - ${BACKEND_ENV_FILE}
    environment:
      ENVIRONMENT: ${ENVIRONMENT}
    depends_on:
      - db-migration
  db-migration:
      image: javidsegura/ai_ticket_platform:staging  

